<!DOCTYPE html>
<html>
  <head>
    <title>MKDN-PRSR</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="header">
      <h1>
        Markdown Parser
      </h1>
    </div>
    <div class="container">
      <div class="pane left">
        <h2>
        Editor
        </h2>
        <div>
          <h3>
            Type your Markdown syntax here
          </h3>
          <center>
            <textarea class="input" placeholder="Write Markdown here..." cols="80" rows="30"></textarea>
          </center>
        </div>
      </div>
      <div class="pane right">
        <h2>
          Viewer
        </h2>
        <div>
          <h3>
            View the Markdown result here
          </h3>
        </div>
        <div class="output">
        </div>
      </div>
    </div>
  </body>
  <footer>
    <script src="bundle.js"></script>
  </footer>
</html>
